<div class="card-position">
  <mat-card *ngIf="emails.get('email') as emailControl" class="column-display card-content">
    <mat-form-field floatLabel="never" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="firstName" required>
    </mat-form-field>

    <mat-form-field floatLabel="never" appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput [(ngModel)]="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateBirth" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>JS technology</mat-label>
      <mat-select [(value)]="jsTech" required (selectionChange)='enableFramVer()'>
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="react">React</mat-option>
        <mat-option value="vue">Vue</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Framework version</mat-label>
      <mat-select [(value)]="frameVer" required [disabled]="disableSelect"  >
        <mat-option *ngFor="let frameVertion of frameVersions[frameVerType]" [value]="frameVertion">{{ frameVertion }}</mat-option>
      </mat-select>
    </mat-form-field>
    
      <mat-form-field [formGroup]="emails" appearance="fill">
        <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" formControlName="email" placeholder="Email" required>
        <mat-error *ngIf="emailControl.hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('invalidAsync')">
          Zipcode must be <strong>valid</strong>
        </mat-error>
      </mat-form-field>
    
    <mat-card class="column-display">
      <mat-form-field appearance="fill">
        <mat-label>Hobby name</mat-label>
        <input [(ngModel)]="name" matInput required>
      </mat-form-field>

      <div>
        <mat-form-field class="hobby-dur-input" appearance="fill">
          <mat-label>years</mat-label>
          <input matInput [(ngModel)]="years" required>
        </mat-form-field>

        <mat-form-field class="hobby-dur-input" appearance="fill">
          <mat-label>months</mat-label>
          <input matInput [(ngModel)]="months" required>
        </mat-form-field>

        <mat-form-field class="hobby-dur-input" appearance="fill">
          <mat-label>days</mat-label>
          <input matInput [(ngModel)]="days" required>
        </mat-form-field>
      </div>

        <button [disabled]="days == '' || months == '' || years == '' || name == ''" mat-raised-button class="hobby-dur-add-butt" (click)="addHobby()">Add</button>

        <mat-nav-list>
          <mat-list-item *ngFor="let hobby of hobbys">
             <a matLine class="hobby-text-size">{{ hobby.name+"  "+hobby.duration }}</a>
             <button mat-mini-fab color="primary">
              <mat-icon (click)="delHobby(hobby)">delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
    </mat-card>

    
      <button *ngIf="emailControl.status !== 'PENDING';else loading" (click)="submit()"
      [disabled]="!emails.valid" mat-raised-button class="submit-butt">Submit</button>
      <ng-template #loading>
        <mat-spinner [mode]="'indeterminate'" diameter="40" class="spinner-margin"></mat-spinner>
      </ng-template>
    
    </mat-card>
</div>